body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #222;
    margin: 0;
}
.output {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}
.unidata{
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.unidata h3 {
    color:rebeccapurple;
    align-items: start;

}

.unidata p {
    color: #757575;
    line-height: 1.5;
}

.button {
    text-decoration: none;
    background-color: rebeccapurple;
    color: #fff;
    padding: 0,5em 1em;
    border-radius: 4px;
}