body{
    background-color: beige;
    background: border-box;
    background: no-repeat;
    min-height: 100vh; 

}
 .h3-external {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: blueviolet;
 }
 .p-external {
    font-family: 'Courier New', Courier, monospace;
 }