/*
Credits: Xiaoying Riley

*/


/* Base */
body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #444;
    font-size: 16px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #17baef;
}
a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
a:hover {
    text-decoration: underline;
    color: #0e98c5;
}

.btn, a.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    padding:  8px 16px;
    font-weight: bold;
    text-decoration: none;
}
.btn .svg-inline--fa, a.btn .svg-inline--fa {
    margin-right: 5px;
}

.btn:focus, a.btn:focus {
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
}
a.btn-cta-primary, .btn-cta-primary {
    background:  #074f66;
    border: 1px solid #074f66;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

a.btn-cta-primary:hover, .btn-cta-primary:hover {
    background:#053c4e;
    border:1px solid #053c4e;
    color: #fff;
}
a.btn-cta-secondary, .btn-cta-secondary {
    background:  #eebf3f;
    border: 1px solid #eebf3f;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
a.btn-cta-secondary:hover, .btn-cta-secondary:hover {
    background:#eebf3f;
    border:1px solid #eebf3f;
    color: #fff;
}
.text-highlight {
    color: #074f66;
}
.offset-header {
    padding-top: 90px;
}

pre code {
    font-size: 16px;
}

/* Header */

.header {
    background: #17baef;
    color: #fff;
    position: fixed;
    width: 100%;
}

.header.navbar-fixed-top {
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, 0.4);
    box-shadow: 0 0 4px rgba(0,0,0, 0.4);
    height: 70px;
}
.header.navbar-fixed-top .logo {
    color: #17baef;
}

.header .logo {
    margin: 0;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
}
.header .logo:hover {
    text-decoration: none;
}
.header .main-nav .navbar-collapse {
    padding: 0;
}

.header .main-nav .navbar-toggler {
    margin-right: 0;
    margin-top: 0;
    background: none;
    float: right;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 8px;
    right: 10px;
    top: 10px;
    background: #074f66;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.header .main-nav .navbar-toggler:focus {
    outline: none;
}

.header .main-nav .navbar-toggler .icon-bar {
    display: block;
    background-color:  #fff;
    height: 2px;
    width: 22px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav .navbar-toggler .icon-bar + .icon-bar {
    margin-top:  4px;
}
.header .main-nav .navbar-toggler:hover .icon-bar {
    background-color: #fff;
}

.header .main-nav .nav .nav-item {
    font-weight: bold;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header .main-nav .nav .nav-item {
    font-weight: bold;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

.header .main-nav .nav .nav-item .nav-link {
    color: #09617e;
    -webkit-transition:none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
    text-decoration: none;

}

.header .main-nav .nav .nav-item .nav-link:hover {
    color: #074f66;
    background: none;
}

.header .main-nav .nav .nav-item .nav-link:focus {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item .nav-link:active {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item.active .nav-link {
    color: #17baef;
    background: none;
}

.header .main-nav .nav .nav-item.last {
    margin: 0;
}



/* promo */
.found {
    padding-top: 200px;
    padding-bottom: 200px;
}

.promo {
    background: #17baef;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 450px;
}
.found {
    padding-top: 200px;
    padding-bottom: 200px;
}

.promo .title {
    font-size: 98px;
    color: #074f66;
    margin-top: 0;
}

.promo .title .highlight {
    color: #eebf3f;
}

.promo .intro {
    font-size:  28px;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.promo .btns .btn {
    margin-right: 15px;
    font-size: 18px;
    padding: 8px 30px;
}

.promo .meta {
    margin-top:  120px;
    margin-bottom: 30px;
    padding: 8px 30px;
}

.promo .meta li {
    margin-right: 15px;
}
.promo .meta .a {
    color: #0a7396;
}

.promo .meta a:hover {
    color: #074f66;
}

/*   Found ID Form css     */
.contact-section {
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
}

.contact-intro > * + * {
    margin-top: 1rem;
}

.contact-title {
    font-size: 1.875rem;
    line-height: 2.25 rem;
    font-weight: 700;
}

.contact-description {
    color: rgb(107, 114, 128);
}

.form-group-container {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
}
.form-input,
.form-textarea {
    padding: 0.5rem;
    border: 1px solid #e5e7eb;
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.form-input::placeholder {
    color: #6b7280;
}

.form-input:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
}

.form-submit {
    width: 100%;
    margin-top: 1.2rem;
    background-color: #3124ca;
    color: #fff;
    padding: 13px 5px;
    border-radius: 0.375rem;
}

/*  LOST ID css*/
.flexbox {
    background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin: 20px;
}

.search > h3 {
    font-weight: normal;
}

.search > h1,
.search > h3 {
    color: white;
    margin-bottom: 15px;
    text-shadow: 0 1px #0091c2;
}

.search > div {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

/*
.search > div:after {
    content: "";
    background: white;
    border: solid 4x white;
    width: 5px;
    height: 20px;
    position: absolute;
    top: 19px;
    right: 1px;
    transform: rotate(135deg);
}
    */

.search > div > input {
    color: white;
    font-size: 16px;
    background: transparent;
    /*width: 27px;
    height: 27px;
    padding: 10px;*/
    border: solid 4px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search > div > input::placeholder {
    color: black;
    opacity: 0;
    transition: opacity 150ms ease-out;
}
.search > div > input:focus::placeholder {
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown){
    width: 250px;
}

#mysearch {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    margin-left: -4px;
    border-width: 1px;
    background-color: white;
    border-color: black;
}
#searchB{
    background-color: white;
    color: black;
}
